body {
  background-color: #1a0303;
   font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #202020;
    color: #6396c6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

nav {
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    background-color: #1a0303;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 10px;
    border-radius: 120px;
}

nav a {
    color: #6396c6;
    text-decoration: none;
}

nav a:hover {
    color: #e69c14;
}

main {
  color: #6396c6;
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
}

.main-squares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.main-squares .square {
    background-color: #13583a;
    border: 2px solid #e69c14;
    border-radius: 10px;
    padding-bottom: 100%; 
    position: relative;
}

aside {
  color: #6396c6;
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
}

.aside-squares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.aside-squares .square {
    background-color: #13583a;
    border: 2px solid #e69c14;
    border-radius: 10px;
    padding-bottom: 100%;
    position: relative;
}

.square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

main h2,
aside h2 {
    text-align: center; 
    margin-bottom: 20px; 
}

footer {
    background-color: #202020;
    color: #6396c6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


