/* START border-box fix */
html {
    box-sizing: border-box;
}

/* asterisk (*) symbol represents the universal selector. Its primary function is to select all elements of any type within the document. */
/* :before is a pseudo-element used to insert content before the actual content of a selected element. It creates a "virtual" first child within the element, allowing you to style and add content that isn't directly present in your HTML markup. */
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #202020;
    color: #336593;
     font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}

#wrapper {
    margin: 0px auto;
    /* centers the wrapper */
    background-color: rgb(0, 178, 0);
    max-width: 1000px;
    border: solid 10px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
}

#wrapper>* {
    padding: 30px;
}

header {
    background: radial-gradient(circle farthest-side at 50% 400%, rgb(74, 74, 74)80%, rgb(0, 0, 0));
    order: 1;
    flex: 1 0 100%;
    top: 0;
    z-index: 1;
}

main {
    color: #000000;
    background: radial-gradient(circle farthest-side at 50% 90%, rgb(230, 156, 20)50%, rgb(74, 74, 74)75%);
    order: 3;
    flex: 1 0 500px;
}

nav {
    background: linear-gradient(120deg, #000000 0%, #606060 70%, #e69c14 100%);
    order: 2;
    flex: 1 0 200px;
}

nav a {
    color: #336593;
    text-decoration: none;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav li {
    display: inline-block;
    background-color: #1a0303;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 120px;
}

nav a:hover {
    color: #e69c14;
}

aside {
    background: linear-gradient(-120deg, rgb(0, 0, 0)0%, rgb(96, 96, 96)70%, rgb(230, 156, 20)100%);
    order: 4;
    flex: 1 0 210px;
}

footer {
    color: #d6e7f7;
    background: #000000;
    order: 5;
    flex: 1 0 100%;
}

footer a{
    color: #336593;
    text-decoration: none;
}

