
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000; 
    overflow: hidden;
    font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
nav {
    position: relative;
    z-index: 10;
}

nav a {
    color: #336593;
    text-decoration: none;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav li {
    display: inline-block;
    background-color: #1a0303;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 120px;
}

nav a:hover {
    color: #e69c14;
}

.star-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.star-field::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow:
        600px 400px white,
        640px 400px white,
        680px 400px white,
        720px 400px white,
        660px 440px white,
        660px 480px white,
        650px 520px white,
        630px 520px white,
        610px 500px white,
        610px 480px white;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

.shooting-star {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 8px;
    height: 8px;
    background: rgb(242, 218, 83);
    border-radius: 50%;
    box-shadow: 0 0 6px white, 0 0 10px white;
    animation: shooting 5s linear infinite;
}

@keyframes shooting {
    0% {
        transform: translate(0, 100vh);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translate(120vw, 40vh);
        opacity: 1;
    }
    100% {
        transform: translate(120vw, 100vh);
        opacity: 0;
    }
}
